h1{
    margin: 10px;
    text-align: center;
}
h3{
    text-align: center;
}
.quizes-div{
display: flex;
min-width: 250px;
max-width: 300px;
margin-left: 50px;
margin-top: 30px;
}
.quizes-descrip{
background-color: aquamarine;
padding: 10px;
}
button.quizes-descrip{
    margin: 30px;
    cursor: pointer;
}